/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 12, 2014, 7:14:07 PM
    Author     : George
*/

html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #202020;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: #FFF;
	}

#main {
  max-width: 600px;
  margin: auto auto; 
  
}

.field {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
  font-family: helvetica;
  font-weight: bold;
  color: #01040D !important;
  font-size: 17px;
  text-shadow: 2px 2px 1px #B8B8B8;
  box-shadow: 2px 1px 3px #000000;
  padding: 10px 23px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 3px outset #6E6E6E;
  background: #63B8EE;
  background: linear-gradient(top,  #FF0000,  #CF7B32);
  background: -ms-linear-gradient(top,  #FF0000,  #CF7B32);
  background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#CF7B32));
  background: -moz-linear-gradient(top,  #FF0000,  #CF7B32);
}
.button:hover {
  color: #000000 !important;
  background: #468CCF;
  background: linear-gradient(top,  #CF0404,  #EEEE3C);
  background: -ms-linear-gradient(top,  #CF0404,  #EEEE3C);
  background: -webkit-gradient(linear, left top, left bottom, from(#CF0404), to(#EEEE3C));
  background: -moz-linear-gradient(top,  #CF0404,  #EEEE3C);
}